{% extends "layout.html" %}

{% block active_blog %}
class="active"
{% endblock %}

{% block content %}
<div class="layui-col-md6 layui-col-md-offset3">
    <table class="layui-table" lay-skin="nob" lay-size="lg">
        <tbody>
            {% for node in node_list %}
            <tr>
                <td>{{ node.title }}</td>
                <td>{{ node.update_time }}</td>
                <td>{{ node.create_time }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}