{% extends "layout.html" %}

{% block active_home %}
class="active"
{% endblock %}

{% block header %}
<div class="layui-col-md8 layui-col-md-offset2" style="margin-top:4%;">
	<div id="owl-slide" class="owl-carousel">
		<div class="item" onclick="url('http://blog.rz6.tech')">
			<img style="height:385px;width: 911px; cursor:pointer;" title="blog" src="{{ url_for('static', filename='images/slider-blog.jpg') }}" />
		</div>
		<div class="item" onclick="url('{{ url_for('web.note') }}')">
			<img style="height:385px;width: 911px; cursor:pointer;" title="note" src="{{ url_for('static', filename='images/slider-note.jpg') }}" />
		</div>
		<div class="item" onclick="url('{{ url_for('web.wooyun') }}')">
			<img style="height:385px;width: 911px; cursor:pointer;" title="wooyun" src="{{ url_for('static', filename='images/slider-wooyun.jpg') }}" />
		</div>
	</div>
</div>
{% endblock %}

{% block content %}
<div class="layui-col-md8 layui-col-md-offset2" style="padding: 20px; background-color: #F2F2F2;">
	<div class="layui-row layui-col-space20">
		{% for node in node_list %}
			<div class="layui-card">
				<div class="layui-card-header">
					<a href="{{ url_for('web.note') }}{{ node.id }}">{{ node.title }}</a>
					<span style="float:right; padding-right:10px;">{{ node.create_time | format_time }}</span>
				</div>
				<div class="layui-card-body">
					{{ node | gen_intro('note') }}
				</div>
			</div>
		{% endfor %}
	</div>
</div>
{% endblock %}
{% block end%}
<footer>
	<div class="zerogrid wrap-footer">
		<div class="copyright">
			Copyright © rz6.tech.  All rights reserved.
		</div>
		</div>
</footer>
{% endblock %}